/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

body {
  font-family: "Orbitron", sans-serif;
  /* background-image: linear-gradient(#2f3132, #131516); */
  background: url("/bg.jpeg") center center fixed no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  color: #b9e1f4;
}
.layout {
  background: rgba(0, 0, 0, 0.7);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
  padding: 20px;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}
.copyright {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-family: "Kulim Park", sans-serif;
}
.copyright a {
  margin-left: 10px;
  color: #999;
}
.day {
  font-size: 14px;
  font-weight: 600;
}

.clock {
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 10px;
}

.divider {
  margin: 20px auto;
  width: 50px;
  border: 0.5px dashed #fff;
  opacity: 0.2;
}
.progressbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.progressbar .body {
  border: 1px solid #b9e1f4;
  width: 70vw;
  height: 60px;
  border-radius: 3px;
  overflow: hidden;
}
.progressbar .inner {
  background: #b9e1f4;
  width: 99%;
  height: 100%;
}
.progressbar .txt {
  width: 50px;
  margin-left: 10px;
  font-size: 35px;
  padding: 10px;
}
.quote {
  margin-top: 50px;
  font-size: 20px;
  width: 60vw;
  font-family: "Kulim Park", sans-serif;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  line-height: 2em;
}
